.formHeader{
    text-align: center;
    color : olivedrab;
    font-weight : bold;
}

.formBody{
    width: 50%;
    margin: 0 auto;
    padding-bottom: 20px;  
}

.input-field > label {
    color : olivedrab;
    font-weight : bold;
    font-size: 17px;
}

.buttonText{
    color: olivedrab;
}

.detailsPage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recipeDescription{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.recipeItems{
    height: 480px;
}

.row{
    border: 10px solid white;
}